<div class="container-fluid">
	<!--Main Div-->
	<section id="sellHeader">
		<div class="row home centered">
			<div class="text-center">
				<h1>Selling Tickets Has Never Been Easier</h1>
										<h3>No Fees - For a Limited Time</h3>
				<h5>During our "Beat the Hub" event</h5>
				<button class="btn btn-custom" ui-sref="sellTicket">Sell Tickets</button>
			</div>

		</div>
	</section>
	<section class="howItWorks">
		
		<div class="container">
			<div class="row">
				<div class="text-center sectionHeadline">
					<h2>How It Works</h2>
				</div>
				<div class="col-md-4 text-center">
					<div>
						<h4>Step 1: Enter Ticket Info and List it for Sale</h4>
					</div>
					<div>
						<img src="../images/barcode.png" alt="magnifyingGlass">
					</div>
					<div class="stepDescription">
						<p>EZ Tix makes it easy to list tickets. Buyers use EZ Tix to find tickets for events.</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div>
						<h4>Step 2: EZ Tix takes care of the selling</h4>
					</div>
					<div>
						<img src="../images/webstore.png" alt="sport ticket">
					</div>
					<div class="stepDescription">
						<p>Buyers search for tickets to events they are interested in. EZ Tix handles the selling for you. We ensure they will receive the ticket. </p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div>
						<h4>Step 3: Profit. You get paid</h4>
					</div>
					<div>
						<img src="../images/profit.png" alt="sport ticket">
					</div>
					<div class="stepDescription">
						<p>After purchase, funds are deposited into your bank account within 24 hours.</p>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>